@{
    ViewBag.Title = "Home";
}

	<div id="welcomeStage">
        <div class="welcomeContent">
            @Html.Raw(ViewBag.WelcomeMessage)         
        </div>
	</div>
	<div class="rightAddSpace">
		<div id="upcommingEvents">
		</div>
		<div class="blueAdd" id="signUp">
			<img src="/images/sign_up_now.jpg" alt="Sign Up Now"/>
		</div>
		<div class="blueAdd" id="advertise">
			<img src="/images/advertise_with_us.jpg" alt="Advertise With Us"/>
		</div>				
	</div>
	<div class="bottomAddSpace clear">
		<div class="leftColumn">
			<img src="/images/bottom_add_space.jpg" alt="Place Your Add Here" />
		</div>
		<div class="rightColumn">
			<img src="/images/iasa_add.jpg" alt="Place Your add here" />
		</div>
		<div class="clear"></div>
	</div>
