@{
    ViewBag.Title = "Contact Us";
}

<div id="contact_left">
    <h3>Sales</h3>
    <a href="mailto:sales@fulltiltsoccer.com">sales@fulltiltsoccer.com</a>
    
    <h3>Coaches Corner</h3>
    <a href="mailto:coaches@fulltiltsoccer.com">coaches@fulltiltsoccer.com</a>
    
    <h3>Camps Information</h3>
    <a href="mailto:camps@fulltiltsoccer.com">camps@fulltiltsoccer.com</a>
    
    <h3>Tournament Information</h3>
    <a href="mailto:tournament@fulltiltsoccer.com">tournament@fulltiltsoccer.com</a>
    
    <h3>General Information</h3>
    <a href="mailto:info@fulltiltsoccer.com">info@fulltiltsoccer.com</a>
</div>
<div id="contact_right">
    <h1>CONTACT US</h1>
    <p>Full Tilt Soccer is a new service offering free and paid listings to all Soccer Associations and Tournament organizors. We are still growing and evolving but at this time we ask that you email us at <a href="mailto:info@fulltiltsoccer.com">info@fulltiltsoccer.com</a> to receive info about how to have your Tournament posted or select one of our other contacts for more info about the other features on this site.</p>
    <form method="post" class="contactUsForm" action="ProcessRequest.cshtml">
        <div class="formLine">
            <label for="contactWho">Contact: </label>
            <select name="contactWho" class="contact_list email_fileds" style="height:28px;width:170px;">
	            <option selected="selected" value="select">- Choose One -</option>
	            <option value="sales@fulltiltsoccer.com">Sales</option>
	            <option value="coaches@fulltiltsoccer.com">Coaches Corner</option>
	            <option value="camps@fulltiltsoccer.com">Camps Information</option>
	            <option value="tournament@fulltiltsoccer.com">Tournament Information</option>
	            <option value="info@fulltiltsoccer.com">General Information</option>
            </select>
        </div>

        <div class="formLine">
            <label for="customerEmail">E-mail: </label>
            <input type="text" name="customerEmail" class="email_fileds" style="width:327px;">
        </div>

        <div class="formLine">
            <label for="customerSubject">Subject: </label>
            <input type="text" name="customerSubject" class="email_fileds" style="width:327px;">
        </div>

        <div class="formLine">
            <label for="customerSubject" class="message">Message: </label>
            <textarea name="customerSubject" rows="2" cols="20" class="email_fileds" style="height:140px;width:388px;"></textarea>
        </div>

        <div class="formLine">
            <input type="submit" name="submitButton" value="SEND" class="sendButton">    
        </div>
    </form>
</div>
<div class="clear"></div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".sendButton").button();
        });
    </script>
    
}
