@using DataAccess
<ul class="regionsList clearfix">
    @foreach (GetAllRegionsByCountryResult r in ViewBag.Regions)
    {        
        <li>            
            <a href="@Url.Action("Region", "Tournament", new {Region = r.RegionName })">
                <img src="~/@r.Image" alt="@r.RegionName" title="@r.RegionName" />
                <p>@r.RegionName</p>
            </a>
        </li>
    }    
</ul>