@{
    ViewBag.Title = "Home";
}

	<div id="welcomeStage">
		<div class="welcomeContent">
			<h1>WELCOME...</h1>
			<p>
				You are looking at the newest ( and soon to be the best) tournament listing site on the web. Not enough... we are the only tournament site on line with a dedicated tournament forum to allow coaches, parents or players to post scores and chat amoungst themselves before and during the tournaments they attend.
			</p>
			<p>
				While our developers continue to work at putting finishing touches on various parts of the site we have been accepting and posting youth Soccer Tournament listings. Our Forum is now active and accepting registrations. Need more info, go to our forum and read posts with details about the site and forum, have a look!
			</p>
			<p>
				We are now on Twitter and have a facebook page, and are working hard to get the word out to all the tournament directors and coaches we can find. We want to make this site a great Soccer resource for you. (Don’t forget to bookmark this page so you can come back often).
			</p>
			<p>
				-Enjoy
			</p>
		</div>
	</div>
	<div class="rightAddSpace">
		<div id="upcommingEvents">
		</div>
		<div class="blueAdd" id="signUp">
			<img src="/images/sign_up_now.jpg" alt="Sign Up Now"/>
		</div>
		<div class="blueAdd" id="advertise">
			<img src="/images/advertise_with_us.jpg" alt="Advertise With Us"/>
		</div>				
	</div>
	<div class="bottomAddSpace clear">
		<div class="leftColumn">
			<img src="/images/bottom_add_space.jpg" alt="Place Your Add Here" />
		</div>
		<div class="rightColumn">
			<img src="/images/iasa_add.jpg" alt="Place Your add here" />
		</div>
		<div class="clear"></div>
	</div>
