@using DataAccess
@{
    ViewBag.Title = ViewBag.Country + " Tournaments";
}
<div class="leftColumn addSpace">
    <div class="outterSearch">
        <div class="innerSearch">
            <h2>SEARCH BY REGION</h2>
            <select id="regionSelection">
                <option>-Please Select-</option>
                @foreach (GetAllRegionsByCountryResult r in ViewBag.Regions)
                {
                 <option value="@r.RegionName">@r.RegionName</option>   
                }                
            </select>
        </div>
    </div>
</div>
<div class="leftColumn content">
    <h1>@ViewBag.Country</h1>
    @{
        Html.RenderPartial("_regionGridView");           
    }
    
</div>
<div class="leftColumn addSpace">
    
</div>
<div class="clear"></div>