@{
    ViewBag.Title = ViewBag.Country + " Tournaments";
}
<div class="leftColumn addSpace">
    <div class="outterSearch">
        <div class="innerSearch">
            <h2>SEARCH BY REGION</h2>
            <select id="regionSelection">
                <option>-Please Select-</option>
            </select>
        </div>
    </div>
</div>
<div class="leftColumn content">
    @{
        if(ViewBag.Regions.Count>0)
        {
            Html.RenderPartial("_regionGridView");
        }
    }
    
</div>
<div class="leftColumn addSpace">
    
</div>
<div class="clear"></div>