/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   global Styles
----------------------------------------- */
.advertisingLink img{ border: none;}
.content{ margin-bottom: 4em;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
 .clearfix {display: inline-block;}
 html[xmlns] .clearfix {display: block;}
 * html .clearfix {height: 1%;}
/* -----------------------------------------
   Override Styles
----------------------------------------- */
.top-bar{ background: #222;}
.top-bar ul > li.divider{ height: 80%;margin-top: .5%;}
#logo{height: 65px;width: 250px;display: block;margin-left: 82px;margin-top: 23px;}
.logo{background:url(/images/logo_lg.png) top center no-repeat #549DD0;height:115px; position:relative;}
.top-bar a:hover{color:#04b51d!important}
.row{ width: 1000px;}
.fixed.bottom{ top: auto;bottom: 0;}
.top-bar ul.right > li.divider{ margin-top: 2.5%;}
.top-bar{ background: black;}
.footer.bottom{background: black;bottom:0}
html{ background: black;}
ul > li{list-style: none}
.outterBorder{border-style: solid;border-width: 1px;border-color: #aaa;padding: 5px;}
.tight{ padding: 0;margin: 0;}
h1.custom{font-family: 'Bauhaus 93';font-size: 33px;line-height: 33px;}
h1.custom.small{font-size: 28px;margin: 0px;}
h1.shadow{text-shadow: 1px 1px 3px rgba(0,0,0, 0.7);filter: dropshadow(color=#BEBEBE, offx=1, offy=1);}
h1.orange{color: #f87811;}
hr.noTop{ margin-top: 0;}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {background-image: url('/Scripts/fancybox/fancybox_sprite.png');}
.fancybox-overlay {background: url('/Scripts/fancybox/fancybox_overlay.png');}
/* -----------------------------------------
   welcome page
----------------------------------------- */
.welcomeContent p a{ text-decoration: underline;}
.welcomeContent p{line-height:125%;font-size: 12px;}
.welcomeContent{margin-top: 52px;margin-left: 88px;overflow:hidden;text-overflow: ellipsis;width: 518px;}
#welcomeStage{border-style: none;border-color: inherit;height: 430px;background-image: url(/images/welcom_stage.jpg);background-repeat: no-repeat;float: left;color: white;font-size: 12px;width: 100%;}
.adds .row{margin:.5em 0}
#upcommingEvents{ border: solid 1px #aaaaaa;padding: 5px;text-align: center;}
#upcommingEvents h2{font-family: "Bauhaus 93";font-size: 24px;color: #FFFFFF;font-weight: normal;margin: 0px;}
#upcommingEvents h4{font-family: "Myriad Pro";font-size: 14px;font-weight: normal;color: #FFFFFF;padding: 0px;margin: 0px;}
.green.box{background: #259F00;height: 100%;padding: 5px 0;}
#upcommingEvents hr {width: 90%;margin: 1em auto;}
#upcommingEvents ul{ text-align: left;padding: 0 10px;color: white;}
#upcommingEvents ul > li{ list-style: none;}
.adds .row a{ display: block;}
/* -----------------------------------------
   Region Search panel
----------------------------------------- */
.outterSearch{border-style: solid;border-width: 1px;border-color: #aaaaaa;padding: 5px;}
.panel.search{ margin-bottom: 0;background: black;padding: 8px;text-align: center;}
ul.addList{ margin-top: 5px;}
ul.addList > li{text-align: center}
.panel.search h4{color: white;font-size:14px;margin-bottom: 4px;}
ul.regionList > li{ text-align: center;}
.block-grid.four-up.regionList >li{ padding: 5px;}
ul.regionList > li a{ display: block;}
ul.regionList > li a img{ width: 100%;}
ul.regionList li a:hover img{opacity:.7;filter:alpha(opacity=70); /* For IE8 and earlier */}
ul.regionsList li a img{display: block;margin: 0}
ul.regionsList li p{margin: .3em 0 0 0;font-size: .9em;line-height: 1.2;height: 2em;}
.addList img{ width: 100%;}
/* -----------------------------------------
   Footer Style
----------------------------------------- */
.footer ul.footerNav > li.divider {background: #000;-webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.1);-moz-box-shadow: 1px 0 0 rgba(255,255,255,0.1);box-shadow: 1px 0 0 rgba(255,255,255,0.1);height: 100%;margin-right: 1px;width: 1px;height: 20px;padding: 0;}
footer ul.footerNav{margin-left: 0;display: inline;height: 45px;line-height: 45px;list-style: none;}
.footer ul.footerNav > li{ display: inline-block;vertical-align: middle;padding: 0 1em;}
.footer ul.footerNav{ display: inline;}
.footer .row{ text-align: center;}
.footer{ background: #222;padding: .75em 0;}
.footer ul.footerNav > li > a{ color: white;}
.footer ul.footerNav >li > a:hover{color:#04b51d!important}
/* -----------------------------------------
   Featured Tournament Panel
----------------------------------------- */
.panel.greenBG{background: #259F00;margin-bottom: 0;text-align: center;padding: 2px;}
.panel.greenBG h4{font-family: "Bauhaus 93";font-size: 20px;font-weight: normal;color: white;line-height: 20px;margin: 0;}
.panel.greenBG hr{ margin: 0;}
.featureList ul{ text-align: left;margin-left: 1em;color: white;margin-top: 5px;}
.featureList ul > li{}
.featureList ul li a{ color: white;font-weight: bold;}
.featureList ul li a:hover{}
.featureList ul li a:active{}
.featureList ul li a:visited{}
/* -----------------------------------------
   Paid Tournament Panel
----------------------------------------- */
.panel.paidListing{position: relative}
img.tournamentLogo{ border: 1px solid #acacac;padding: 5px;}
.panel.paidListing .tournamentImage{ float: left;width: 50%;margin-right: 18px;}
.panel.paidListing .tournamentDescription h3{font-weight: bold;margin-bottom: 1em;text-transform:uppercase;font-size: 18px;margin-top: 0;}
.panel.paidListing .readMore{ position: absolute;right: 15px;bottom: 10px;}
.panel.paidListing .readMore{ color: #539FD3;text-decoration: none;}
.panel.paidListing .readMore:hover{ text-decoration: underline;}
.panel.paidListing .readMore:visited{ color: #539FD3;}
.panel.paidListing .addthis_toolbox{position: absolute;bottom: 10px;right: 100px;width: 162px;}
.addthis_toolbox *,.addthis_toolbox *:before,.addthis_toolbox *:after{box-sizing: content-box;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;}
.atm *, .atm *:before, .atm *:after{box-sizing: content-box;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;}
.panel.paidListing .tournamentRaiting{ display: inline-block;vertical-align: middle;}
.panel.paidListing .tournamentAverageRaiting{display:inline-block;vertical-align: middle;}
.results h1{ margin-bottom: .2em;}
@media screen and (max-width: 980px) 
{
    #welcomeStage{border: solid 1px #aaaaaa;padding: 5px;background: white;width: auto;height: auto;}
    .welcomeContent{background: #c04c27; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNjMDRjMjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNmYyMDFiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  #c04c27 0%, #6f201b 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#c04c27), color-stop(100%,#6f201b)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #c04c27 0%,#6f201b 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #c04c27 0%,#6f201b 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #c04c27 0%,#6f201b 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #c04c27 0%,#6f201b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c04c27', endColorstr='#6f201b',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
width: auto;margin: 0;padding: 10px;}
    .content{ margin-top: 1em;}
    
}
@media screen and (max-width: 767px) 
{
    .adds .signUp{ display: inline-block;text-align: center;width: 49%;}
    .fixed.bottom{ position: static;}
}