<div id="FeaturedEvents">
    <div class="greenBG">
        <div class="featureZone">
            <h2>Featured Tournaments</h2>
            <div class="divider"></div>
        </div>
    </div>
    <div class="featureList">
        <ul>
            @*<li>test</li>*@
        </ul>
    </div>
</div>
    <ul class="addList">       
    <li>
        <a href="/Contact"><img src="/Images/Adds/region_gray_add_space.jpg" alt=""/></a>
    </li>
</ul>        
