<ul class="addList">
    <li>
        <a href="#"><img src="/Images/Adds/red_add_space.jpg" alt=""/></a>
    </li>
    <li>
        <a href="#"><img src="/Images/Adds/region_gray_add_space.jpg" alt=""/></a>
    </li>
</ul>   
