/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
html{font-family:Arial, Helvetica, Sans-Serif;font-size: 14px;}
.pageCenter{width:990px;margin-left:auto;margin-right:auto;}
.outerWrapper{width:100%;}
#header{background-color:#539fd3;}
.noBorder{border:none;}
#topNav{background-image: url(/images/top_nav_background.jpg);background-repeat:repeat-x;}
ul#primaryNav{height:34px;line-height:34px; font-size:13px;width:825px;margin:0 auto; overflow:hidden;}
#primaryNav li{line-height:34px;display:inline; padding:0 10px; background:url(/images/top_nav_spacer.jpg) right center no-repeat;}
#primaryNav li a{text-decoration: none; color:white; text-transform: uppercase;font-weight:bold;display:inline-block;}
#primaryNav li a:hover{color:#05B11D;}
#bottomNav{background-color:#000;position: fixed;bottom: 0}
ul li.last{background:none!important;}
ul#footerNav{padding:20px 0;height:34px;line-height:34px; font-size:11px;width: 625px; margin: 0 auto; overflow:hidden;}
#footerNav li{line-height:34px;display:inline; padding:0 10px; background:url(/images/footer_nav_spacer.jpg) right center no-repeat;}
#footerNav li a{text-decoration: none; color:white; text-transform: uppercase;font-weight:bold;display:inline-block;}
#footerNav li a:hover{color:#05B11D;}
#header .pageCenter{background:url(/images/logo_lg.png) top center no-repeat;height:115px; position:relative;}
#header .pageCenter a#logo{height: 65px;width: 250px;display: block;left: 110px;top: 22px;position: absolute;}
#header .pageCenter .login{float:right;}
#header .pageCenter .login a{text-decoration: none;color:white;background:url(/images/top_nav_background.jpg);border: 1px solid #9F9F9F;-webkit-border-radius: 0px 0px 10px 10px;border-radius: 0px 0px 10px 10px;line-height:35px;padding:8px;}
#header .pageCenter .login a:hover{background:url(/images/top_nav_background_on.jpg);color:black;}
#welcomeStage{border-style: none;border-color: inherit;height: 430px;width: 692px;background-image: url(/images/welcom_stage.jpg);background-repeat: no-repeat;float: left;color: white;font-size: 12px;}
#welcomeStage p{margin-bottom:1em;}
#contentArea .pageCenter{margin-top: 20px;}
.rightAddSpace{background-repeat: no-repeat;float: right;width: 260px;padding-bottom: 20px;margin: 0 5px 0 20px;}
.rightAddSpace #upcommingEvents{background-repeat: no-repeat;background-image: url(/images/upcoming_events_blank.gif);height: 196px;padding:10px;}
.blueAdd{margin-top: 15px;}
.clear{clear: both;}
.leftColumn{float:left}
.rightColumn{float:right;}
.bottomAddSpace {margin-bottom:100px;}
.welcomeContent H1{font-family: "Bauhaus 93";font-size: 28px;color: #F87811;margin-bottom:1em;}
.welcomeContent p{line-height:125%;}
.welcomeContent{margin-top: 52px;margin-left: 88px;width: 518px;height: 300px;overflow:hidden;text-overflow: ellipsis;}
#contact_left{float: left;height: 438px;width: 182px;background-color: #C2C2C2;margin-right: 20px;padding: 10px;}
#contact_left h3{ font-weight: bold;}
#contact_left a{ margin-bottom: 1em;color: black;display: block;text-decoration: none;}
#contact_left a:hover{ text-decoration: underline;}
.contact_us h1 {font-family: "Bauhaus 93";font-size: 33px;margin-bottom: .5em;}
.contact_us p{line-height:117%}
.contact_us p a{color: #789AC1;text-decoration: none;}
.contact_us p a:hover{text-decoration: underline;}
.contact_us label{ width: 75px;display: inline-block;vertical-align: middle;}
.contact_us label.message{vertical-align: top;}
.contact_us input{padding:5px 0}
#contentArea{margin-bottom: 100px;}
.formLine{margin-bottom:.5em}
.contactUsForm{ margin-top: 2em;}
.sendButton{margin-left: 78px;background-color: #7FB2FF;color: white;width: 84px;height: 27px;cursor: pointer;border: none;}
.contact_us textarea {resize: none;}
.contact_us textarea,.contact_us input{background-color: #C9DFFF;border: none;border: solid 1px #abadb3;}
.contact_us textarea,.contact_us input,.contact_us select{outline-color: #529ed2; }